.example-card {
    width: 20%;
    margin-top: 20px;
  }
  .cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .btn-container button {
    background-color: #c2185b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  