<!-- Loading spinner while data is loading -->
<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>

<!-- User data section -->
<div *ngIf="userData">
  <!-- Toolbar with search input -->
  <mat-toolbar color="primary">
    <span>Users</span>
    <span class="spacer"></span>
    <mat-form-field>
      <mat-label class="search">Search</mat-label>
      <input matInput placeholder="Search for user..." type="text" [(ngModel)]="searchTerm" placeholder="Search by ID">
    </mat-form-field>
  </mat-toolbar>

  <!-- Pagination buttons -->
  <div class="btn-container">
    <button *ngFor="let pageNumber of totalPages" (click)="loadPage(pageNumber)">
      {{ pageNumber }}
    </button>
  </div>

  <!-- Users List -->

  <div id="article" class="articles">
    <div class="container">
      <div class="box-margin" *ngFor="let user of userData | search: searchTerm" [routerLink]="['/Userdetails', user.id]">
        <div class="box">
          <img [src]="user.avatar" alt="User avatar" />
          <div class="content text-center">
            <h3>{{ user.first_name }}</h3>
            <h3>{{ user.last_name }}</h3>
            <h3>{{ user.id }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
